@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html{
    scroll-behavior: auto;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Oswald", serif;
}

* {
    box-sizing: border-box;
}

#navbar {
    /* Basic Settings */
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding-right: 20px;
    padding-left: 20px;
    /* Display Settings */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #86C232;
    box-shadow: 0 0 10px;
}

/* Navbar scrolling fix */
h1::before{
    display: block;
    content: " ";
    margin-top: -105px;
    height: 105px;
    visibility: hidden;
    pointer-events: none;
}

.nav-link{
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}

.nav-link:hover{
    background: #61892F;
    border-radius: 10px;
}

#welcome-section{
    display: flex;
    flex-direction: row;
    align-items: center; /* Centers in y plane */
    justify-content: center; /* Centers in x plane */
    /* top right bottom left */
    height: 100vh;
    width: 100%;
    padding: 10vh;
    background-color: #222629;
    color: white;
}

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #474B4F;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ProjectsHolder{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
}   

.project-tile{
   text-align: center;
   padding-bottom: 10px;
   margin: 10px;
   box-shadow: 0 0 5px grey;
   width: 90vw;
   overflow: hidden;
   background-color: #86C232;
   font-size: 1rem;
}

.projectImg{
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.project-link{
    text-decoration: none;
    color: white;
}

#contactMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222629;
    color: white;
}


/* Mobile first design requirements */
/* Put this at the end so it overwrites things properly! */
@media only screen and (min-width: 768px) {
    /* Desktop Settings */
    #navbar{
        justify-content: flex-end;
    }
    
    .nav-link{
        font-size: 2em;
    }
    #ProjectsHolder{
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }
    .project-tile{
        width: 30vw;
        font-size: 1.5rem;
    }
}